* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #1C1C1C;
  --dark-blue: #1F2937;
  --green: #55F991;
  --main-btn: #10B981;
  --soft-green: #ECFDF5;
  --medium-grey: #D5D4D8;
  --dark-grey: #2F3E53;
  --white: #ffffff;
  --pale-blue: #30C7BD;
  --grey-blue: #6D9491;
}
body {
 font-size: 62.5%;
 font-family: 'Karla', sans-serif;
 background: linear-gradient(90deg, var(--black), var(--dark-blue));
 color: var(--dark-blue);
 user-select: none;
}
.App {
  margin: 15px auto;
  width: 95%;
  max-width: 750px;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--soft-green);
  border-radius: 8px;
}
.question {
  font-size: 1.6rem;
}
.options-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.option, .selected, .correct {
  margin: 10px;
  padding: 5px 15px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid var(--grey-blue);
  border-radius: 8px;
  text-align: center;
}
.selected {
  background-color: var(--medium-grey);
}
.correct {
  background-color: var(--green);
}
.incorrect {
  background-color: rgb(255, 139, 139);
}
.horizontal-r {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid var(--medium-grey);
}
.btn {
  margin: 15px;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--white);
  background-color: var(--main-btn);
  border: none;
  box-shadow: 3px 3px 5px 1px rgba(124, 124, 124, 0.5);
  border-radius: 5px;
}
.btn:active {
  background-color: var(--pale-blue);
  box-shadow: 1px 1px 5px 1px rgba(199, 199, 199, 0.8);
}