* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #1C1C1C;
  --dark-blue: #1F2937;
  --main: #55F991;
  --main-btn: #44C774;
  --main-btn-pressed: #60da8d;
  --main-soft: #ECFDF5;
  --medium-grey: #D5D4D8;
  --dark-grey: #2F3E53;
  --white: #ffffff;
  --secondary: #30C7BD;
  --secondary-pale: #53e0d7;
  --grey-blue: #6D9491;
  --warning: #FF8B8B;
  --btn-shadow: 0px 1px 3px 1px rgba(199, 199, 199, 0.8);
}
body {
 font-size: 62.5%;
 font-family: 'Karla', sans-serif;
 background: linear-gradient(90deg, var(--black), var(--dark-blue));
 color: var(--dark-blue);
 user-select: none;
}
.App {
  margin: 15px auto;
  width: 95%;
  max-width: 750px;
  min-height: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-soft);
  border-radius: 8px;
}
.question {
  font-size: 1.6rem;
}
.options-container {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.option, .selected, .correct, .incorrect {
  margin: 10px;
  padding: 5px 15px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid var(--grey-blue);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.selected {
  background-color: var(--medium-grey);
}
.correct {
  background-color: var(--main);
}
.incorrect {
  background-color: var(--warning);
}
.horizontal-r {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid var(--medium-grey);
}
.btn, .disabled-btn {
  margin: 15px;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--white);
  background-color: var(--main-btn);
  border: none;
  box-shadow: 3px 3px 5px 1px rgba(124, 124, 124, 0.5);
  border-radius: 5px;
  cursor: pointer;
}
.btn:active {
  background-color: var(--main-btn-pressed);
  box-shadow: none;
}
.disabled-btn, .disabled-btn:active {
  background-color: var(--main-btn);
  opacity: 0.3;
  box-shadow: none;
  cursor: not-allowed;
}

.reset {
  background-color: var(--secondary);
}
.reset:active {
  background-color: var(--secondary-pale);
}

.message {
  font-size: 1.6rem;
  text-align: center;
}